av==9.2.0
ktrain==0.31.7
mediapipe==0.8.10.1
numpy==1.22.0
opencv_contrib_python==4.6.0.66
pandas==1.4.3
Pillow==9.2.0
s3fs==2022.7.1
streamlit==1.12.2
streamlit_option_menu==0.3.2
streamlit_webrtc==0.43.4
tensorflow==2.10.0
tensorflow_cpu==2.9.1
